<div class="root">
  <header>

  </header>
  <section class="row">
    <funpack-article-card imgUrl="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7" tag="Technology"
      title="Why is the Tesla Cypertruck designed the way it is?"
      subtitle="An explaination into the truck's palarising design"
      avatarUrl="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Maisie_Williams_%2819647942976%29_%28cropped%29.jpg/626px-Maisie_Williams_%2819647942976%29_%28cropped%29.jpg"
      avatarName="Arya stark" date="Today">
    </funpack-article-card>
    <funpack-article-card></funpack-article-card>
    <funpack-article-card></funpack-article-card>
    <funpack-article-card></funpack-article-card>
  </section>
  <section class="row">
    <funpack-article-card></funpack-article-card>
    <funpack-article-card></funpack-article-card>
    <funpack-article-card></funpack-article-card>
    <funpack-article-card></funpack-article-card>
  </section>
</div>
